@model PersonViewModel
@{
    ViewData["Title"] = "Person";
}

<h3 id="result"></h3>
<form id="personForm" method="post" action="">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>

            @*<td><input asp-for="Name" /></td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Age):</td>
            <td>
                @Html.TextBoxFor(m => m.Age)
                @Html.ValidationMessageFor(m => m.Age)
            </td>
        </tr>
    </table>

    <input id="submit" type="button" value="Submit" />
    <input id="getData" type="button" value="Get Data" />

</form>

<div>
    <input type="text" id="pattern" />
    <input type="button" value="Searh" id="search" />
</div>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")

    <script>

        $(document).ready(function () {

            $("#submit").on("click", e => {

                var url = "@Url.Action("SavePerson", "Person")";

                $.ajax({
                    url: url,
                    data: $("#personForm").serializeArray(),
                    dataType: "json",
                    method: "POST",
                    success: function (result) {
                        if (result.data) {
                            $("#result").text(result.data);
                            $("#personForm input[type='text']").val("");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

                //$.post(url, $("#personForm").serializeArray(), function (result) {
                //    $("#result").text(result.data);
                //    $("#personForm input[type='text']").val("");
                //}, "json");


            });


            $("#getData").on("click", function () {
                var url = "@Url.Action("GetPeople", "Person")";
                $.get(url, null, function (result) {
                    console.log(result);
                });
            });

            $("#search").on("click", function () {
                var url = "@Url.Action("Search", "Person")" + "?pattern=" + $("#pattern").val();
                //$.get(url, { pattern: $("#pattern").val() }, function (result) {
                //    console.log(result);
                //});

                $.get(url, function (result) {
                    console.log(result);
                });
            });
        });

    </script>
}