@model AspnetEFDemo.Repository.Person
@{
    ViewBag.Title = "Update";
    ViewBag.SubmitUrl = Url.Action("UpdatePerson", "Person");
}

<h2>Update</h2>

@Html.Partial("_CreateOrUpdateForm", Model)

@*<form action="@Url.Action("UpdatePerson", "Person")" method="post">
        @Html.HiddenFor(x => x.Id)
        Name: @Html.EditorFor(x => x.Name)
        <input type="submit" />
    </form>


    <a href="@Url.Action("Index", "Person")">Cancel</a>*@